equinix_client_id      = ""
equinix_client_secret  = ""

network_name = "terra_e2e_network"
network_type = "IPWAN"
network_scope = "GLOBAL"
notifications_type = "ALL"
notifications_emails = ["example@equinix.com","test1@equinix.com"]
purchase_order_number = "1-323292"

