equinix_client_id      = "MyEquinixClientId"
equinix_client_secret  = "MyEquinixClientSecret"

connection_name             = "Terra_Port2IBM2"
connection_type             = "EVPL_VC"
notifications_type          = "ALL"
notifications_emails        = ["example@equinix.com"]
bandwidth                   = 50
redundancy                  = "PRIMARY"
purchase_order_number       = "1-323292"
aside_ap_type               = "COLO"
aside_link_protocol_type    = "DOT1Q"
aside_link_protocol_tag     = "1302"
zside_ap_type               = "SP"
zside_ap_authentication_key = "IBM Authentication Key"
zside_ap_profile_type       = "L2_PROFILE"
zside_location              = "SV"
fabric_sp_name              = "IBM Cloud Direct Link 2"
equinix_port_name           = "Equinix Port Name"
seller_asn                  = "2400"
seller_region               = "San Jose 2"
