equinix_client_id     = "MyEquinixClientId"
equinix_client_secret = "MyEquinixSecret"

#FCR
fcr_name              = "TERA_E2E_FCR"
fcr_type              = "XF_ROUTER"
notifications_type    = "ALL"
notifications_emails  = ["example@equinix.com", "test1@equinix.com"]
purchase_order_number = "1-323290"
fcr_location          = "SV"
fcr_package           = "PRO"
fcr_project           = "2916390007636552"
fcr_account           = "201258"

#Azure Connection
azure_connection_name       = "FCR_2_AZURE"
azure_connection_type       = "IP_VC"
azure_notifications_type    = "ALL"
azure_notifications_emails  = ["example@equinix.com"]
azure_bandwidth             = 50
azure_redundancy            = "PRIMARY"
azure_purchase_order_number = "1-323292"
azure_peering_type          = "PRIVATE"
azure_aside_ap_type         = "CLOUD_ROUTER"

azure_zside_ap_type               = "SP"
azure_zside_ap_authentication_key = "Azure Express Route Service Key"
azure_zside_ap_profile_type       = "L2_PROFILE"
azure_zside_location              = "SV"
azure_fabric_sp_name              = "Azure ExpressRoute"

#Azure DIRECT RP
azure_rp_type         = "DIRECT"
azure_rp_name         = "FCR-Con-IP"
azure_equinix_ipv4_ip = "190.1.1.1/30"
azure_equinix_ipv6_ip = "190::1:1/126"

#Azure BGP RP
azure_bgp_rp_type            = "BGP"
azure_bgp_rp_name            = "FCR-Con-BGP"
azure_bgp_customer_peer_ipv4 = "190.1.1.2"
azure_bgp_customer_peer_ipv6 = "190::1:2"
azure_bgp_enabled_ipv4       = true
azure_bgp_enabled_ipv6       = true
azure_bgp_customer_asn       = "100"

#AWS Connection
aws_connection_name       = "FCR_2_AWS"
aws_connection_type       = "IP_VC"
aws_notifications_type    = "ALL"
aws_notifications_emails  = ["example@equinix.com", "test1@equinix.com"]
aws_purchase_order_number = "1-323293"
aws_bandwidth             = 50
aws_redundancy            = "SECONDARY"
aws_aside_ap_type         = "CLOUD_ROUTER"

aws_zside_ap_type               = "SP"
aws_zside_ap_authentication_key = "AWS Authentication Key (Account Number)"
aws_access_key                  = "AWS Access Key"
aws_secret_key                  = "AWS Secret Key"
aws_zside_ap_profile_type       = "L2_PROFILE"
aws_zside_location              = "SV"
aws_seller_region               = "us-west-1"
aws_fabric_sp_name              = "AWS Direct Connect"

#AWS DIRECT RP
aws_rp_type         = "DIRECT"
aws_rp_name         = "FCR-Con-IP"
aws_equinix_ipv4_ip = "192.68.100.1/30"
aws_equinix_ipv6_ip = "192::1:1/126"

#AWS BGP RP
aws_bgp_rp_type            = "BGP"
aws_bgp_rp_name            = "FCR-Con-BGP"
aws_bgp_customer_peer_ipv4 = "192.68.100.2"
aws_bgp_customer_peer_ipv6 = "192::1:2"
aws_bgp_enabled_ipv4       = true
aws_bgp_enabled_ipv6       = true
aws_bgp_customer_asn       = "100"
