equinix_client_id      = "Equnix_Client_Id"
equinix_client_secret  = "Equinix_Client_Secret"
connection_name = "cloudRouter_gen_csp"
connection_type = "IP_VC"
notifications_type = "ALL"
notifications_emails = ["example@equinix.com"]
bandwidth = 50
redundancy = "PRIMARY" # Can either be PRIMARY or SECONDARY
redundancy_group_uuid = "53e04795-e6da-4756-9462-8bdc9b1f96d3" #OPTIONAL
purchase_order_number = "1-323292"
aside_ap_type = "CLOUD_ROUTER"
fcr_uuid = "Fabric Cloud Router UUID"
zside_ap_type = "SP"
zside_ap_profile_type = "L2_PROFILE"
zside_location = "SV"
fabric_sp_name = "Ajith Ops User QnQ"
