---
subcategory: "Metal"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# equinix_metal_project_ssh_key (Resource)

Provides an Equinix Metal project SSH key resource to manage project-specific SSH keys. Project SSH keys will only be populated onto servers that belong to that project, in contrast to User SSH Keys.

## Example Usage

{{tffile "examples/resources/metal_project_ssh_key/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `name` - (Required) The name of the SSH key for identification.
* `public_key` - (Required) The public key. If this is a file, it can be read using the file interpolation function.
* `project_id` - (Required) The ID of parent project.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:

* `id` - The unique ID of the key.
* `name` - The name of the SSH key.
* `owner_id` - The ID of parent project (same as project_id).
* `fingerprint` - The fingerprint of the SSH key.
* `created` - The timestamp for when the SSH key was created.
* `updated` - The timestamp for the last time the SSH key was updated.
