---
subcategory: "Metal"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# equinix_metal_organization (Resource)

Provides a resource to manage organization resource in Equinix Metal.

## Example Usage

{{tffile "examples/resources/metal_organization/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `name` - (Required) The name of the Organization.
* `address` - (Required) An object that has the address information. See [Address](#address) below for more details.
* `description` - (Optional) Description string.
* `website` - (Optional) Website link.
* `twitter` - (Optional) Twitter handle.
* `logo` - (Optional) Logo URL.

### Address

The `address` block contains:

* `address` - (Required) Postal address.
* `city` - (Required) City name.
* `country` - (Required) Two letter country code (ISO 3166-1 alpha-2), e.g. US.
* `zip_code` - (Required) Zip Code.
* `state` - (Optional) State name.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:

* `id` - The unique ID of the organization.
* `created` - The timestamp for when the organization was created.
* `updated` - The timestamp for the last time the organization was updated.

## Import

This resource can be imported using an existing organization ID:

```sh
terraform import equinix_metal_organization {existing_organization_id}
```
