---
subcategory: "Metal"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# equinix_metal_vlan (Resource)

Provides a resource to allow users to manage Virtual Networks in their projects.

To learn more about Layer 2 networking in Equinix Metal, refer to

* https://metal.equinix.com/developers/docs/networking/layer2/
* https://metal.equinix.com/developers/docs/networking/layer2-configs/

## Example Usage

{{tffile "examples/resources/metal_vlan/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `project_id` - (Required) ID of parent project.
* `metro` - (Optional) Metro in which to create the VLAN
* `facility` - (**Deprecated**) Facility where to create the VLAN. Use metro instead; read the [facility to metro migration guide](https://registry.terraform.io/providers/equinix/equinix/latest/docs/guides/migration_guide_facilities_to_metros_devices)
* `description` - (Optional) Description string.
* `vxlan` - (Optional) VLAN ID, must be unique in metro.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:

* `id` - ID of the virtual network.

## Import

This resource can be imported using an existing VLAN ID (UUID):

```sh
terraform import equinix_metal_vlan {existing_vlan_id}
```
