---
subcategory: "Metal"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# equinix_metal_vrf (Resource)

Use this resource to manage a VRF.

See the [Virtual Routing and Forwarding documentation](https://deploy.equinix.com/developers/docs/metal/layer2-networking/vrf/) for product details and API reference material.

## Example Usage

Create a VRF in your desired metro and project with any IP ranges that you want the VRF to route and forward.

{{tffile "examples/resources/equinix_metal_vrf/example_1.tf"}}

Create IP reservations and assign them to a Metal Gateway resources. The Gateway will be assigned the first address in the block.

{{tffile "examples/resources/equinix_metal_vrf/example_2.tf"}}

Attach a Virtual Circuit from a Dedicated Metal Connection to the Metal Gateway.

{{tffile "examples/resources/equinix_metal_vrf/example_3.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

This resource can be imported using an existing VRF ID:

```sh
terraform import equinix_metal_vrf {existing_id}
```
