---
subcategory: "Metal"
---

~> **Deprecation Notice** Equinix Metal will reach end of life on June 30, 2026. All Metal resources will be removed in version 5.0.0 of this provider. Use version 4.x of this provider for continued use through sunset. See https://docs.equinix.com/metal/ for more information.

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

Create a device and add it to cool_project

{{tffile "examples/resources/equinix_metal_device/example_1.tf"}}

Same as above, but boot via iPXE initially, using the Ignition Provider for provisioning

{{tffile "examples/resources/equinix_metal_device/example_2.tf"}}

Create a device without a public IP address in metro ny, with only a /30 private IPv4 subnet (4 IP addresses)

{{tffile "examples/resources/equinix_metal_device/example_3.tf"}}

Deploy device on next-available reserved hardware and do custom partitioning.

{{tffile "examples/resources/equinix_metal_device/example_4.tf"}}

Create a device and allow the `user_data` and `custom_data` attributes to change in-place (i.e., without destroying and recreating the device):

{{tffile "examples/resources/equinix_metal_device/example_5.tf"}}

{{ .SchemaMarkdown | trimspace }}
{{- if .HasImport }}

## Import

Import is supported using the following syntax:

{{codefile "shell" .ImportFile }}
{{- end }}
