---
subcategory: "Metal"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# equinix_metal_vrf (Resource)

Use this resource to manage a VRF.

See the [Virtual Routing and Forwarding documentation](https://deploy.equinix.com/developers/docs/metal/layer2-networking/vrf/) for product details and API reference material.

## Example Usage

Create a VRF in your desired metro and project with any IP ranges that you want the VRF to route and forward.

{{tffile "examples/resources/metal_vrf/example_1.tf"}}

Create IP reservations and assign them to a Metal Gateway resources. The Gateway will be assigned the first address in the block.

{{tffile "examples/resources/metal_vrf/example_2.tf"}}

Attach a Virtual Circuit from a Dedicated Metal Connection to the Metal Gateway.

{{tffile "examples/resources/metal_vrf/example_3.tf"}}

## Argument Reference

The following arguments are supported:

* `name` - (Required) User-supplied name of the VRF, unique to the project
* `metro` - (Required) Metro ID or Code where the VRF will be deployed.
* `project_id` - (Required) Project ID where the VRF will be deployed.
* `description` - (Optional) Description of the VRF.
* `local_asn` - (Optional) The 4-byte ASN set on the VRF.
* `ip_ranges` - (Optional) All IPv4 and IPv6 Ranges that will be available to BGP Peers. IPv4 addresses must be /8 or smaller with a minimum size of /29. IPv6 must be /56 or smaller with a minimum size of /64. Ranges must not overlap other ranges within the VRF.

## Attributes Reference

No additional attributes are exported.

## Import

This resource can be imported using an existing VRF ID:

```sh
terraform import equinix_metal_vrf {existing_id}
```
