---
subcategory: "Network Edge"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# equinix_network_device (Resource)

Resource `equinix_network_device` allows creation and management of Equinix Network Edge virtual network devices.

Network Edge virtual network devices can be created in two modes:

* **managed** - (default) Where Equinix manages connectivity and services in the device and customer gets limited access to the device.
* **self-configured** - Where customer provisions and manages own services in the device with less restricted access. Some device types are offered only in this mode.

In addition to management modes, there are two software license modes available:

* **subscription** - Where Equinix provides software license, including end-to-end support, and bills for the service respectively.
* **BYOL** - [bring your own license] Where customer brings his own, already procured device software license. There are no charges associated with such license. It is the only licensing mode for `self-configured` devices.

## Example Usage

{{tffile "examples/resources/equinix_network_device/example_1.tf"}}

{{tffile "examples/resources/equinix_network_device/example_2.tf"}}

{{tffile "examples/resources/equinix_network_device/example_3.tf"}}

{{tffile "examples/resources/equinix_network_device/example_4.tf"}}

{{tffile "examples/resources/equinix_network_device/example_5.tf"}}

{{tffile "examples/resources/equinix_network_device/example_6.tf"}}

{{tffile "examples/resources/equinix_network_device/example_7.tf"}}

{{tffile "examples/resources/equinix_network_device/example_8.tf"}}

{{tffile "examples/resources/equinix_network_device/example_9.tf"}}

{{tffile "examples/resources/equinix_network_device/c8000v_byol_with_bandwidth_tier.tf"}}

{{tffile "examples/resources/equinix_network_device/c8000v_byol_with_bandwidth_throughput.tf"}}

{{tffile "examples/resources/equinix_network_device/Aviatrix_Transit_Edge.tf"}}

{{tffile "examples/resources/equinix_network_device/zscaler_appc.tf"}}

{{tffile "examples/resources/equinix_network_device/zscaler_pse.tf"}}

{{tffile "examples/resources/equinix_network_device/c8000v_byol_without_default_password.tf"}}

{{tffile "examples/resources/equinix_network_device/checkpoint_single_device.tf"}}

{{tffile "examples/resources/equinix_network_device/cisco_ftd_cluster_znpd.tf"}}

{{tffile "examples/resources/equinix_network_device/versa_sdwan_ha_device.tf"}}

{{tffile "examples/resources/equinix_network_device/vyos_router_ha_device.tf"}}

{{tffile "examples/resources/equinix_network_device/fortigate_sdwan_single_device.tf"}}

{{tffile "examples/resources/equinix_network_device/aruba_edgeconnect_ha_device.tf"}}

{{tffile "examples/resources/equinix_network_device/infoblox_single_device.tf"}}

{{tffile "examples/resources/equinix_network_device/infoblox_ha_device.tf"}}

{{tffile "examples/resources/equinix_network_device/infoblox_cluster_device.tf"}}

## Argument Reference

The following arguments are supported:

* `name` - (Required) Device name.
* `type_code` - (Required) Device type code.
* `metro_code` - (Required) Device location metro code.
* `hostname` - (Optional) Device hostname prefix.
* `package_code` - (Required) Device software package code.
* `version` - (Required) Device software software version.
* `core_count` - (Required) Number of CPU cores used by device. (**NOTE: Use this field to resize your device. When resizing your HA devices, primary device will be upgraded first. If the upgrade failed, device will be automatically rolled back to the previous state with original core number.**)
* `tier` - (Optional, conflicts with `throughput`,`throughput_unit` ) Select bandwidth tier for your own license, i.e., `0` or `1` or `2` or `3`. Tiers applicable only for C8000V Autonomous or C8000V SDWAN (controller) device types. If not provided, tier is defaulted to '2'.
* `term_length` - (Required) Device term length.
* `self_managed` - (Optional) Boolean value that determines device management mode, i.e., `self-managed` or `Equinix-managed` (default).
* `byol` - (Optional) Boolean value that determines device licensing mode, i.e., `bring your own license` or `subscription` (default).
* `license_token` - (Optional, conflicts with `license_file`) License Token applicable for some device types in BYOL licensing mode.
* `license_file` - (Optional) Path to the license file that will be uploaded and applied on a device. Applicable for some device types in BYOL licensing mode.
* `license_file_id` - (Optional, conflicts with `license_file`) Identifier of a license file that will be applied on the device.
* `cloud_init_file_id` - (Optional) Identifier of a cloud init file that will be applied on the device.
* `throughput` - (Optional) Device license throughput.
* `throughput_unit` - (Optional) License throughput unit. One of `Mbps` or `Gbps`.
* `account_number` - (Required) Billing account number for a device.
* `notifications` - (Required) List of email addresses that will receive device status notifications.
* `purchase_order_number` - (Optional) Purchase order number associated with a device order.
* `order_reference` - (Optional) Name/number used to identify device order on the invoice.
* `acl_template_id` - (Optional) Identifier of a WAN interface ACL template that will be applied on the device.
* `mgmt_acl_template_uuid` - (Optional) Identifier of an MGMT interface ACL template that will be applied on the device.
* `additional_bandwidth` - (Optional) Additional Internet bandwidth, in Mbps, that will be allocated to the device (in addition to default 15Mbps).
* `interface_count` - (Optional) Number of network interfaces on a device. If not specified, default number for a given device type will be used.
* `wan_interafce_id` - (Optional) Specify the WAN/SSH interface id. If not specified, default WAN/SSH interface for a given device type will be used.
* `vendor_configuration` - (Optional) Map of vendor specific configuration parameters for a device (controller1, activationKey, managementType, siteId, systemIpAddress, privateAddress, privateCidrMask, privateGateway, licenseKey, licenseId, panoramaAuthKey, panoramaIpAddress, provisioningKey, ipAddress(applicable for infoblox only), subnetMaskIp(applicable for infoblox only), gatewayIp(applicable for infoblox only))
* `ssh-key` - (Optional) Definition of SSH key that will be provisioned on a device (max one key). See [SSH Key](#ssh-key) below for more details.
* `secondary_device` - (Optional) Definition of secondary device for redundant device configurations. See [Secondary Device](#secondary-device) below for more details.
* `cluster_details` - (Optional) An object that has the cluster details. See [Cluster Details](#cluster-details) below for more details.
* `connectivity` - (Optional) Device accessibility (INTERNET-ACCESS or PRIVATE or INTERNET-ACCESS-WITH-PRVT-MGMT). If not specified, default will be INTERNET-ACCESS
* `project_id` - (Optional) Unique Identifier for the project resource where the device is scoped to.If you leave it out, the device will be created under the default project id of your organization.
* `diverse_device_id` - (Optional) Unique ID of an existing device. Use this field to let Equinix know if you want your new device to be in a different location from any existing virtual device. This field is only meaningful for single devices.
* `generate_default_password` - (Optional) Boolean value that determines to create device with or without default password. Use this field to let Equinix know if you want your new device to be create with default admin password.
This field is only meaningful for C8000V Autonomous(single/ha) and Fortinet Firewall devices(single/ha/cluster). If not specified, by default device is created with admin password.


### Secondary Device

-> **NOTE:** Network Edge provides different High Availability (HA) options. By defining a `secondary_device` block, terraform will deploy [Redundant Devices](https://docs.equinix.com/en-us/Content/Interconnection/NE/deploy-guide/Reference%20Architecture/NE-High-Availability-Options.htm#:~:text=Redundant%20Devices%20(Active/Active)), useful for customers that require two actively forwarding data planes (Active/Active) on separate hardware stacks. See [Architecting for Resiliency](https://docs.equinix.com/en-us/Content/Interconnection/NE/deploy-guide/NE-architecting-resiliency.htm) documentation to know more about the fault-tolerant solutions that you can achieve.

The `secondary_device` block supports the following arguments:

* `name` - (Required) Secondary device name.
* `metro_code` - (Required) Metro location of a secondary device.
* `hostname` - (Optional) Secondary device hostname.
* `license_token` - (Optional, conflicts with `license_file`) License Token can be provided for some device types o the device.
* `license_file` - (Optional) Path to the license file that will be uploaded and applied on a secondary device. Applicable for some device types in BYOL licensing mode.
* `license_file_id` - (Optional, conflicts with `license_file`) Identifier of a license file that will be applied on a secondary device.
* `cloud_init_file_id` - (Optional) Identifier of a cloud init file that will be applied on a secondary device.
* `account_number` - (Required) Billing account number for secondary device.
* `notifications` - (Required) List of email addresses that will receive notifications about secondary device.
* `additional_bandwidth` - (Optional) Additional Internet bandwidth, in Mbps, for a secondary device.
* `vendor_configuration` - (Optional) Key/Value pairs of vendor specific configuration parameters for a secondary device. Key values are `controller1`, `activationKey`, `managementType`, `siteId`, `systemIpAddress`, `privateAddress`, `privateCidrMask`, `privateGateway`, `licenseKey`, `licenseId`, `panoramaAuthKey`, `panoramaIpAddress`, `ipAddress`, `subnetMaskIp`, `gatewayIp`.
* `acl_template_id` - (Optional) Identifier of a WAN interface ACL template that will be applied on a secondary device.
* `mgmt_acl_template_uuid` - (Optional) Identifier of an MGMT interface ACL template that will be applied on a secondary device.
* `ssh-key` - (Optional) Up to one definition of SSH key that will be provisioned on a secondary device.

### SSH Key

The `ssh_key` block supports the following arguments:

* `username` - (Required) username associated with given key.
* `name` - (Optional) reference by name to previously provisioned public SSH key.

### Cluster Details

-> **NOTE:** Network Edge provides different High Availability (HA) options. By defining a `cluster_details` block, terraform will deploy a `Device Clustering`. This option, based on vendor-specific features, allows customers to deploy more advanced resilient configurations than `secondary_device`. See [Network Edge HA Options](https://docs.equinix.com/en-us/Content/Interconnection/NE/deploy-guide/Reference%20Architecture/NE-High-Availability-Options.htm) documentation to know which vendors support clustered devices. See [Architecting for Resiliency](https://docs.equinix.com/en-us/Content/Interconnection/NE/deploy-guide/NE-architecting-resiliency.htm) documentation to know more about the fault-tolerant solutions that you can achieve.

The `cluster_details` block supports the following arguments:

* `cluster_name` - (Required) The name of the cluster device
* `node0` - (Required) An object that has `node0` configuration. See [Cluster Details - Nodes](#cluster-details---nodes) below for more details.
* `node1` - (Required) An object that has `node1` configuration. See [Cluster Details - Nodes](#cluster-details---nodes) below for more details.

### Cluster Details - Nodes

The `node0` and `node1` blocks supports the following arguments:

* `vendor_configuration` - (Optional) An object that has fields relevant to the vendor of the cluster device. See [Cluster Details - Nodes - Vendor Configuration](#cluster-details---nodes---vendor-configuration) below for more details.
* `license_file_id` - (Optional) License file id. This is necessary for Fortinet and Juniper clusters.
* `license_token` - (Optional) License token. This is necessary for Palo Alto clusters.

### Cluster Details - Nodes - Vendor Configuration

The `vendor_configuration` block supports the following arguments:

* `hostname` - (Optional) Hostname. This is necessary for Palo Alto, Juniper, and Fortinet clusters.
* `admin_password` - (Optional) The administrative password of the device. You can use it to log in to the console. This field is not available for all device types.
* `controller1` - (Optional) System IP Address. Mandatory for the Fortinet SDWAN cluster device.
* `activation_key` - (Optional) Activation key. This is required for Velocloud clusters.
* `controller_fqdn` - (Optional) Controller fqdn. This is required for Velocloud clusters.
* `root_password` - (Optional) The CLI password of the device. This field is relevant only for the Velocloud SDWAN cluster.
* `panorama_ip_address` - (Optional) Panorama Server IP Address. This field is relevant only for the PA-VM firewall devices to have integration with Panorama Server.
* `panorama_auth_key` - (Optional) Panorama Server Auth Key. This field is relevant only for the PA-VM firewall devices to have integration with Panorama Server.
* `provisioning_key` - (Optional) Provisioning Key. This field is relevant only for the ZSCALER APPC and ZSCALER PSE devices.
* `ip_address` - (Optional) IP Address. This field is relevant only for the Infoblox devices.
* `subnet_mask_ip` - (Optional) Subnet Mask IP. This field is relevant only for the Infoblox devices.
* `gateway_ip` - (Optional) Gateway IP. This field is relevant only for the Infoblox devices.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:

* `uuid` - Device unique identifier.
* `status` - Device provisioning status. Possible values are `INITIALIZING`, `PROVISIONING`, `WAITING_FOR_PRIMARY`, `WAITING_FOR_SECONDARY`, `WAITING_FOR_REPLICA_CLUSTER_NODES`, `CLUSTER_SETUP_IN_PROGRESS`, `FAILED`, `PROVISIONED`, `DEPROVISIONING`, `DEPROVISIONED`, `RESOURCE_UPGRADE_IN_PROGRESS`, `RESOURCE_UPGRADE_FAILED`.
* `license_status` - Device license registration status. Possible values are `APPLYING_LICENSE`, `REGISTERED`, `APPLIED`, `WAITING_FOR_CLUSTER_SETUP`, `REGISTRATION_FAILED`.
* `license_file_id` - Unique identifier of applied license file.
* `ibx` - Device location Equinix Business Exchange name.
* `region` - Device location region.
* `acl_template_id` - Unique identifier of applied ACL template.
* `ssh_ip_address` - IP address of SSH enabled interface on the device.
* `ssh_ip_fqdn` - FQDN of SSH enabled interface on the device.
* `redundancy_type` - Device redundancy type applicable for HA devices, either primary or secondary.
* `redundant_id` - Unique identifier for a redundant device applicable for HA devices.
* `interface` - List of device interfaces. See [Interface Attribute](#interface-attribute) below for more details.
* `asn` - (Autonomous System Number) Unique identifier for a network on the internet.
* `zone_code` - Device location zone code.
* `cluster_id` - The ID of the cluster.
* `num_of_nodes` - The number of nodes in the cluster.
* `diverse_device_name` - Name of the device with diverse device UUID. This field is returned in device details if the device is created by passing diverse_device_id.

### Interface Attribute

Each interface attribute has below fields:

* `id` - interface identifier.
* `name` - interface name.
* `status` - interface status. One of `AVAILABLE`, `RESERVED`, `ASSIGNED`.
* `operational_status` - interface operational status. One of `up`, `down`.
* `mac_address` - interface MAC address.
* `ip_address` - interface IP address.
* `assigned_type` - interface management type (Equinix Managed or empty).
* `type` - interface type.

## Timeouts

This resource provides the following [Timeouts configuration](https://www.terraform.io/language/resources/syntax#operation-timeouts) options:

* create - Default is 90 minutes
* update - Default is 90 minutes
* delete - Default is 30 minutes

## Import

This resource can be imported using an existing ID:

```sh
terraform import equinix_network_device.example {existing_id}
```

The `license_token`, `mgmt_acl_template_uuid` and `cloud_init_file_id` fields can not be imported.
