---
subcategory: "Metal"
---

~> **Deprecation Notice** This data source has entered deprecation status. Equinix Metal will conclude operations on June 30, 2026. This data source faces elimination in the upcoming major version (5.0.0). To preserve Metal capabilities until the platform's sunset date, continue using version 4.x of the Equinix Terraform provider. Refer to Metal platform sunset details at: https://docs.equinix.com/metal/


{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# equinix_metal_operating_system (Data Source)

Use this data source to get Equinix Metal Operating System image.

## Example Usage

{{tffile "examples/data-sources/equinix_metal_operating_system/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `distro` - (Optional) Name of the OS distribution.
* `name` - (Optional) Name or part of the name of the distribution. Case insensitive.
* `provisionable_on` - (Optional) Plan name.
* `version` - (Optional) Version of the distribution.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:

* `id` - Operating system slug.
* `slug` - Operating system slug (same as `id`).
