---
subcategory: "Metal"
---

~> **Deprecation Notice** This data source faces deprecation. Equinix Metal is scheduled to reach end-of-life on June 30, 2026. This data source will be removed from the provider in version 5.0.0. To maintain Metal functionality until the sunset date, continue using version 4.x of the Equinix Terraform provider. For ongoing Metal operations and platform sunset details, refer to: https://docs.equinix.com/metal/


# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/equinix_metal_device/example_1.tf"}}

{{tffile "examples/data-sources/equinix_metal_device/example_2.tf"}}

{{ .SchemaMarkdown | trimspace }}
