---
subcategory: "Metal"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# equinix_metal_vlan (Data Source)

Provides an Equinix Metal Virtual Network datasource. VLANs data sources can be searched by VLAN UUID, or project UUID and vxlan number.

## Example Usage

Fetch a vlan by ID:

{{tffile "examples/data-sources/metal_vlan/example_1.tf"}}

Fetch a vlan by project ID, vxlan and metro

{{tffile "examples/data-sources/metal_vlan/example_2.tf"}}

## Argument Reference

The following arguments are supported:

* `vlan_id` - (Optional) Metal UUID of the VLAN resource to look up.
* `project_id` - (Optional) UUID of parent project of the VLAN. Use together with the vxlan number and metro or facility.
* `vxlan` - (Optional) vxlan number of the VLAN to look up. Use together with the project_id and metro or facility.
* `facility` - (Optional) Facility where the VLAN is deployed. Deprecated, see https://feedback.equinixmetal.com/changelog/bye-facilities-hello-again-metros
* `metro` - (Optional) Metro where the VLAN is deployed.

-> **NOTE:** You must set either `vlan_id` or a combination of `vxlan`, `project_id`, and, `metro` or `facility`.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:

* `description` - Description text of the VLAN resource.
* `assigned_devices_ids` - List of device ID to which this VLAN is assigned.
