---
subcategory: "Metal"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# equinix_metal_metro (Data Source)

Provides an Equinix Metal metro datasource.

## Example Usage

{{tffile "examples/data-sources/metal_metro/example_1.tf"}}

{{tffile "examples/data-sources/metal_metro/example_2.tf"}}

## Argument Reference

The following arguments are supported:

* `code` - (Required) The metro code to search for.
* `capacity` - (Optional) One or more device plans for which the metro must have capacity.
  * `plan` - (Required) Device plan that must be available in selected location.
  * `quantity` - (Optional) Minimum number of devices that must be available in selected location. Default is `1`.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:

* `id` - The ID of the metro.
* `name` - The name of the metro.
* `country` - The country of the metro.
