equinix_client_id     = ""
equinix_client_secret = ""
notifications_type    = "ALL"
notifications_emails  = ["example@equinix.com", "test1@equinix.com"]
purchase_order_number = "1-323292"
fcr_uuid              = "<fcr-uuid>"
connection_name       = "terraform_fcr2wan"
connection_type       = "IPWAN_VC"
bandwidth             = 50
aside_ap_type         = "CLOUD_ROUTER"
zside_ap_type         = "NETWORK"
network_uuid          = "<network-uuid>"
