name: golangci-lint
on:
  push:
    branches:
      - main
  pull_request:
permissions:
  contents: read
  pull-requests: read # Remove along with only-new-issues by 2025
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Determine golangci-lint version
        id: golangcilint
        run: |
          line=$(grep GOLANGCI_LINT_VERSION= GNUmakefile)
          version=$(echo ${line} | cut -d = -f2)
          echo "version=$version" >> "$GITHUB_OUTPUT"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          args: --whole-files
          version: ${{ steps.golangcilint.outputs.version }}
          only-new-issues: true
